body {
    font-family: Arial, sans-serif;
    margin: 25px;
    background-color: #ffffff;
    color: #333;
}

h1 {
    color: #005A9C;
}

hr {
    border: none; /* Removes the default border */
    height: 1px; /* Sets the height of the line */
    background-color: #d3d3d3; /* Sets the color of the line to light grey */
    opacity: 0.65; /* Makes the line semi-transparent, giving it a faded look */
  }

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #454545;
}

/* displays navbar list inline */
.nav-links li {
    float: left;
}

/* style navbar links */
.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* changes colour of link when hover */
.nav-links li a:hover {
    background-color: #111;
}

.hero-section {
    background: url("Hero_Image.jpg") no-repeat center center/cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.65); /* Dark overlay for text visibility */
    color: aliceblue;
    padding: 80px;
  }

.hero-section h1 {
    color:aliceblue;
    margin-bottom: 1em;
}

.hero-section p {
    font-size: 1.2em;
    margin-bottom: 1em;
  }

.cta-button {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 1px;
}

#TopicOverview {
    margin-bottom: 20px; /* Reduce the bottom margin as needed */
  }

.topic-links {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.topic-links li {
    list-style: none;
}

.topic-links li a {
    display: block;
    color: rgb(43, 43, 43);
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

.topic-links li a:hover {
    background-color: #bae7ff;
}

section {
    margin-bottom: 80px; /* Adjust the value as necessary */
}

.everyday-comp-sci-infographic {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

#DailyUseSection1 > p:first-of-type {
    margin-bottom: 50px; /* Adjust the value as needed */
}
  
#DailyUseSection1 > div:first-of-type > h3 {
    margin-top: 20px; /* Adjust the value as needed */
}